.f1 {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
}
.f1 > div {
  margin: 40px 3.5vw;
}
.f {
  background-color: black;
  color: white;
  height: 250px;
}
.f1 > div > p {
  line-height: 10px;
  cursor: pointer;
}
.f1 > div > p:hover {
  color: blue;
}
