.pr1 {
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 80px;
  padding-bottom: 80px;
}
.pro {
  background-color: white;
}

.pr1d {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 0px;
}
.pr1d img,
.pr2d img {
  margin-left: -30px;
  margin-top: 20px;
  width: 350px;
}

.pr2d img {
  margin-top: 20px;
  width: 350px;
}
.pr2d {
  display: grid;
  grid-template-columns: 65% 35%;
}
