.home {
  margin: 0;
}
.home_div {
  width: 90vw;
  height: 500px;
  background-image: url("../Image/bac.jfif");
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home_div_f {
  line-height: 1.3em;
  /* text-align: left; */
  font-size: 72px;
  padding: 0px 40px;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(179, 65, 7), rgb(30, 34, 34));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0em;
  overflow-wrap: break-word;
}
.p {
  margin-left: 20vw;
  font-size: 25px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.home_div1 {
  display: flex;
  width: 60vw;
  border: 1px solid black;
  height: 400px;
  margin: auto;
}
.home_div11 {
  display: flex;
  width: 60%;
  border: 1px solid black;
  height: 400px;
  margin: auto;
}
.home_div12 {
  display: flex;
  align-items: center;

  width: 40%;
  word-wrap: normal;
  font-size: 60px;
  color: rgb(50, 47, 47);
  font-weight: bold;
  border: 1px solid black;
  height: 400px;
  margin: auto;
}
.home_div2 {
  width: 60vw;
  margin: auto;
  border: 1px solid red;
}
