.App {
  font-family: sans-serif;
  /* Created with https://www.css-gradient.com */
  background: #909bdb;
  background: -webkit-radial-gradient(left, #909bdb, #cce6ff);
  background: -moz-radial-gradient(left, #909bdb, #cce6ff);
  background: radial-gradient(to right, #909bdb, #cce6ff);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
